Button:hover{
    background-color: #004e38 !important;
    color: #fff;
}

#navbarScrollingDropdown{
    color: #004e38;
}
#navbarScrollingDropdown:hover{
  color: #004e38;
}

#option1:active{
  background-color: #fff !important;
  color: #004e38;
}

p{
  margin-bottom: 0px !important;
}